<div class="p-4 space-y-4">
    <div class="bg-white p-2 rounded flex gap-x-4 items-center shadow-sm">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="filterUsers()"
        placeholder="Buscar..."
        class="w-full p-2 border-b-2 border-gray-300 outline-none focus:border-b-primary-900"
      />
      <button
        class="bg-green-600 text-white py-2 px-4 rounded-xl text-lg font-medium flex items-center gap-x-2 cursor-pointer"
        (click)="openModal(false)"
      >
        <fa-icon [icon]="getIcon('plus')" />Nuevo 
  
      </button>
    </div>
  
    <div class="overflow-x-auto p-2 bg-white rounded-2xl shadow-sm">
      <table class="min-w-full bg-white">
        <thead class="text-left text-sm text-gray-600">
          <tr>
            <th class="px-4 py-3 text-center font-medium">N°</th>
            <th class="px-4 py-3 text-center">Nombre</th>
            <th class="px-4 py-3 text-center">Correo</th>
            <th class="px-4 py-3 text-center">Telefono</th>
            <th class="px-4 py-3 text-center">Actualizado el</th>
            <th class="px-4 py-3 text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (item of filteredUsers; track $index) {
          <tr class="bg-white hover:bg-gray-50 transition space-y-2">
            <td class="px-4 py-3 font-medium">{{ $index + 1 }}</td>
            <td class="px-4 py-3">{{ item.username }}</td>
            <td class="px-4 py-3">
              {{ item.email }}
            </td>
            <td class="px-4 py-3">{{ item.phone }}</td>
            <td class="px-4 py-3 text-center font-mono text-sm">
              {{ item.updatedAt | date : "dd/MM/yyyy HH:mm:ss" }}
            </td>
            <td class="px-4 py-3 text-center">
              <button class="text-blue-600 hover:underline mr-4 cursor-pointer">
                <fa-icon
                  [icon]="getIcon('edit')"
                  (click)="openModal(true, item)"
                />
              </button>
              <button class="text-red-600 hover:underline cursor-pointer">
                <fa-icon [icon]="getIcon('delete')" (click)="delete(item.id)" />
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  
  <app-modal-user
    [visible]="modalVisible"
    [isEdit]="isEditMode"
    [formData]="selectedUser"
    (save)="saveUser($event)"
    (closeModal)="modalVisible = false"
  />
  