@if (visible) {
    <div class="fixed inset-0 bg-black/20 z-50 flex items-center justify-center">
      <div class="bg-white p-6 rounded-lg shadow-lg w-[90%] max-w-4xl space-y-4">
        <h2 class="text-xl font-semibold text-center text-gray-700">
          {{ isEdit ? "Editar" : "Nuevo" }}
        </h2>
    
        <form [formGroup]="exaForm" (ngSubmit)="submit()" class="space-y-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col gap-y-2">
              <label for="" class="font-medium">Dni</label>
              <input
                formControlName="dni"
                type="text"
                placeholder="Dni"
                class="w-full border p-2 rounded outline-none border-gray-400"
              />
              <div *ngIf="dniFb.touched && dniFb.errors">
                <div *ngIf="dniFb.errors['pattern']">El DNI debe tener exactamente 8 números.</div>
              </div>
              
              @if (dniFb.invalid && (dniFb.touched ||
              dniFb.dirty)) {
              <div class="text-red-600 text-sm mt-1">
                @if (dniFb.errors?.['required']) {
                <div>El dni es obligatorio.</div>
                }
              </div>
              }
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="" class="font-medium">Pais</label>
              <input
                formControlName="name"
                type="text"
                placeholder="nombre"
                class="w-full border p-2 rounded outline-none border-gray-400"
              />
    
              @if (nameFb.invalid && (nameFb.touched || nameFb.dirty)) {
              <div class="text-red-600 text-sm mt-1">
                @if (nameFb.errors?.['required']) {
                <div>El nombre es obligatorio.</div>
                }
              </div>
              }
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col gap-y-2">
              <label for="" class="font-medium">Apellido</label>
              <input
                formControlName="surName"
                type="text"
                placeholder="Apellido"
                class="w-full border p-2 rounded outline-none border-gray-400"
              />
    
              @if (surNameFb.invalid && (surNameFb.touched || surNameFb.dirty)) {
              <div class="text-red-600 text-sm mt-1">
                @if (surNameFb.errors?.['required']) {
                <div>El apellido es obligatorio.</div>
                }
              </div>
              }
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="" class="font-medium">Fecha de nacimiento</label>
              <input
                formControlName="birthDate"
                type="date"
                placeholder="fecha"
                class="w-full border p-2 rounded outline-none border-gray-400"
              />
              <div *ngIf="birthDateFb.touched && birthDateFb.invalid" class="text-red-500">
                <div *ngIf="birthDateFb.errors?.['futureDate']">
                  La fecha no puede ser en el futuro.
                </div>
              </div>
              @if (birthDateFb.invalid && (birthDateFb.touched ||
              birthDateFb.dirty)) {
              <div class="text-red-600 text-sm mt-1">
                @if (birthDateFb.errors?.['required']) {
                <div>La fecha es obligatoria.</div>
                }
              </div>
              }
            </div>
          </div>
    
          <div class="flex justify-end gap-2">
            <button
              type="button"
              (click)="close()"
              class="px-4 py-2 rounded bg-red-600 hover:bg-red-700 text-white font-medium"
            >
              Cancelar
            </button>
            <button
              type="submit"
              [disabled]="exaForm.invalid"
              class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700 font-medium"
            >
              {{ isEdit ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
    }
    