<div class="flex flex-col gap-y-4">
    <div class="p-2 bg-white rounded-xl">
        <h2 class="text-xl font-medium">Facturas</h2>
    </div>
    <div class="overflow-x-auto p-2 bg-white rounded-2xl shadow-sm">
      <table class="min-w-full bg-white">
        <thead class="text-left text-sm text-gray-600">
          <tr>
            <th class="px-4 py-3 text-center font-medium">N°</th>
            <th class="px-4 py-3 text-center">Cliente</th>
            <th class="px-4 py-3 text-center">Producto</th>
            <th class="px-4 py-3 text-center">Monto</th>
            <th class="px-4 py-3 text-center">Cantidad</th>
            <th class="px-4 py-3 text-center">Fecha</th>
          </tr>
        </thead>
        <tbody>
          @for (item of bills; track $index) {
          <tr class="bg-white hover:bg-gray-50 transition space-y-2">
            <td class="px-4 py-3 font-medium text-center">{{ $index + 1 }}</td>
            <td class="px-4 py-3">{{ item.user.username }}</td>
            <td class="px-4 py-3">
              {{ item.product.name }}
            </td>
            <td class="px-4 py-3 font-mono">S/{{ item.subtotal }}</td>
            <td class="px-4 py-3 text-center font-mono">{{ item.quantity }}</td>
            <td class="px-4 py-3 font-mono text-center">{{ item.updatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    
</div>