<div class="h-svh flex items-center justify-center bg-fuchsia-800">
    <div class="flex items-center justify-center shadow-2xl rounded-2xl bg-white">
        <div class="flex w-[450px] h-[500px] flex-col justify-around pl-2">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex w-[450px] h-[500px] flex-col justify-around pl-2">
                <h2 class="text-center text-fuchsia-800 text-xl font-bold">Login</h2>
                <div class="flex flex-col gap-y-4">
                  <div class="flex flex-col gap-y-2 w-full">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="py-2 px-4 rounded outline-none border border-fuchsia-800">
                    <div class="text-red-600 text-sm" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <span *ngIf="email.errors?.['required']">El email es obligatorio.</span>
                        <span *ngIf="email.errors?.['email']">Ingrese un email válido.</span>
                      </div>
                  </div>
                  <div class="flex flex-col gap-y-2 w-full">
                    <label>Contraseña</label>
                    <input type="password" formControlName="password" class="py-2 px-4 rounded outline-none border border-fuchsia-800">
                    <div class="text-red-600 text-sm" *ngIf="password.invalid && (password.dirty || password.touched)">
                        <span *ngIf="password.errors?.['required']">La contraseña es obligatoria.</span>
                      </div>
                  </div>
                  <div class="flex w-full items-center">
                    <button type="submit" class="bg-fuchsia-800 rounded text-white font-medium w-full py-4 text-xl hover:cursor-pointer">
                      Iniciar sesión
                    </button>
                  </div>
                </div>
                <p class="text-center">¿Aún no está registrado? <a routerLink="register" class="text-fuchsia-800 hover:underline">Regístrese</a></p>
              </form>
              
        </div>
        <div>
            <img src="/cafe.png" alt="" class="w-[500px]">
        </div>
    </div>
</div>